<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="http://">Главная</a>
                </li>

                <li class="nav__item">
                    <a class=" nav__link nav__link--active nav__link--carent" href="http://">Статьи</a>
                    <ul class="subnav">
                        <li><a href="http://">Создание сайтов</a> </li>
                        <li><a href="http://">Интернет маркетинг</a> </li>
                        <li><a href="http://">Продвижение видио</a> </li>
                    </ul>
                </li>

                <li class="nav__item"><a class=" nav__link" href="http://">Обо мне</a></li>

                <li class="nav__item"><a class=" nav__link" href="http://">Реклама</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul>
                <li class="nav__item"><a class="nav__link" href="http://">Профиль</a></li>
            </ul>
        </nav>
    </div>
    <form class="search" action="/" method="post">
        <input class="search__input" type="text" placeholder="Поиск по блогу">
    </form>
</header>